build/**
_build/**
cmake-build-*
!.gitkeep
.idea/
CMakeCache.txt
CMakeUserPresets.json
.directory
.editorconfig
*.a
*.dylib
*.dll
*.obj
*.cpp.o
*.c.o
main.cpp
.vs
.vscode
*.junk
CMakeSettings.json
include/toolbox/toolbox_config.h
out
venv
Dockerfile
test_package/cmake-build-*
test_package/build
