build/**
_build/**
cmake-build-debug
cmake-build-debug-*/
!.gitkeep
.idea/
CMakeCache.txt
.directory
.editorconfig
*.a
*.dylib
*.dll
*.obj
*.cpp.o
*.c.o
main.cpp
.vs
*.junk
CMakeSettings.json
include/toolbox/toolbox_config.h